<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/scss/styles.scss">
    <title>Thêm mới sáng kiến</title>
</head>

<body>
    <div>
        <h1>Thêm mới sáng kiến</h1>
        <form action="/addsangkien" method="post">
            <!-- Vertical -->
            <div class="form-group">
                <!-- Tên sáng kiến -->
                <label>Tên sáng kiến</label>
                <input type="text" name="tensangkien" class="form-control" value="">
                <!-- muctieu  -->
                <label>Mục tiêu</label>
                <input type="text" name="muctieu" class="form-control" value="">
                <!-- noidung  -->
                <label>Nội dung</label>
                <br>
                <textarea name="noidung" id="noidung" cols="80" rows="5"></textarea>
                <br>
                <!-- loiich  -->
                <label>Lợi ích</label>
                <input type="text" name="loiich" class="form-control" value="">
                <!-- doituong  -->
                <label>Đối tượng</label>
                <input type="text" name="doituong" class="form-control" value="">
            </div>
            <h1>Chủ trì</h1>
            <div class="nguoithamgia_1">
                <!-- id_nhanvien  -->
                <label>Mã nhân viên</label>
                <input type="text" name="manhanvien_1" class="form-control" value="">
                <br>
                <!-- donggop  -->
                <label>Tỷ lệ đóng góp</label>
                <input type="text" name="tyledonggop_1" class="form-control" hiddenvalue="null">
            </div>
            <h1>Trợ lý</h1>
            <div class="nguoithamgia_2">
                <!-- id_nhanvien  -->
                <label>Mã nhân viên</label>
                <input type="text" name="manhanvien_2" class="form-control" hiddenvalue="null">
                <!-- donghop  -->
                <label>Tỷ lệ đóng góp</label>
                <input type="text" name="tyledonggop_2" class="form-control" hiddenvalue="null">
            </div>
            <!-- Submit -->
            <button type=" submit" class="btn btn-primary">Submit</button>
        </form>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>