<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/css/styles.css" />
        <title>Home</title>
    </head>
    <body style="background-color: #808080">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Home</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <div class="container-fluid mt-2">
            <div class="sidebar-container row">
                <div
                    class="sidebar-custom col-2"
                    style="background-color: #212529; height: 100vh"
                >
                    <div>
                        <a href="/quanlyphongban">Quản Lý Phòng Ban</a>
                    </div>
                    <div>
                        <a href="/quanlychucvu">Quản Lý Chức Vụ</a>
                    </div>
                    <div>
                        <a href="/quanlychucvuhd">Quản Lý Chức Vụ HĐ</a>
                    </div>
                    <div>
                        <a href="/quanlyxeploai">Quản Lý Xếp Loại</a>
                    </div>
                    <div>
                        <a href="/quanlytrangthaisangkien"
                            >Quản Lý Trạng Thái Sáng Kiến</a
                        >
                    </div>
                    <div>
                        <a href="/quanlynhanvien/:search">Quản Lý Nhân Viên</a>
                    </div>
                    <div>
                        <a href="/create-sangkien">Đăng ký sáng kiến</a>
                    </div>
                    <div>
                        <a href="/quanlysangkien">Duyệt Sáng Kiến </a>
                    </div>
                    <div>
                        <a href="/quanlydotsangkien">Quản Lý Đợt Sáng Kiến</a>
                    </div>
                    <div>
                        <a href="/get-cham-diem">Chấm điểm</a>
                    </div>
                    <div>
                        <a href="/get-hdkh">Quản Lý Hội Đồng Khoa Học</a>
                    </div>
                    <div>
                        <a href="/manage-account">Quản Lý Tài Khoản</a>
                    </div>
                    <div>
                        <a href="/get-hdkh">Quản Lý Hội Đồng Khoa Học</a>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
            integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
