<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
        type="button"
        class="navbar-brand btn mx-2 show-hide-sidebar"
        data-bs-toggle="offcanvas"
        data-bs-target="#custom-sidebar"
    >
        <i class="fa-solid fa-bars"></i>
    </button>
    <div class="container-fluid p-0">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-brand btn" href="/home"
                    ><img src="/image/logo.png" height="40px"
                /></a>
            </li>
            <li class="nav-item">
                <a
                    class="navbar-brand btn"
                    href="/chitietsangkien"
                    data-bs-toggle="tooltip"
                    title="Sáng kiến hiện tại của tôi"
                    ><i class="fa-solid fa-star"></i
                ></a>
            </li>
        </ul>
    </div>

    <!-- dropdown -->
    <div
        class="btn-group me-sm-5"
        role="group"
        aria-label="Button group with nested dropdown"
    >
        <div class="btn-group me-3" role="group">
            <button
                id="btnGroupDrop1"
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Account
            </button>
            <ul class="dropdown-menu bg-dark" aria-labelledby="btnGroupDrop1">
                <li>
                    <a
                        class="dropdown-item text-white-50"
                        href="/thongtincanhan"
                        >Thông tin cá nhân</a
                    >
                </li>
                <li>
                    <a
                        class="dropdown-item text-white-50"
                        href="/get-change-password"
                        >Đổi mật khẩu</a
                    >
                </li>
                <li>
                    <a class="dropdown-item text-danger" href="/logout">
                        <i class="fa-solid fa-arrow-right-from-bracket small">
                        </i>
                        <span>Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- sidebar -->
<div class="container-fluid row">
    <div
        class="offcanvas offcanvas-start col-2"
        data-bs-keyboard="false"
        data-bs-backdrop="true"
        id="custom-sidebar"
    >
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Mobifone</h5>
            <button
                type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
            ></button>
        </div>
        <div
            class="btn-group-vertical offcanvas-body border rounded"
            style="background-color: #212529; height: 100vh"
        >
            <a href="/get-hdkh" class="btn btn-dark btn-sm text-start"
                >Quản Lý Hội Đồng Khoa Học</a
            >

            <a href="/manage-account" class="btn btn-dark btn-sm text-start"
                >Quản Lý Tài Khoản</a
            >

            <a href="/quanlyphongban" class="btn btn-dark btn-sm text-start"
                >Quản Lý Phòng Ban</a
            >

            <a href="/quanlychucvu" class="btn btn-dark btn-sm text-start"
                >Quản Lý Chức Vụ</a
            >

            <a href="/quanlychucvuhd" class="btn btn-dark btn-sm text-start"
                >Quản Lý Chức Vụ HĐ</a
            >

            <a href="/quanlyxeploai" class="btn btn-dark btn-sm text-start"
                >Quản Lý Loại Xếp Loại</a
            >

            <a
                href="/quanlytrangthaisangkien"
                class="btn btn-dark btn-sm text-start"
                >Quản Lý Trạng Thái Sáng Kiến</a
            >

            <a href="/quanlynhanvien" class="btn btn-dark btn-sm text-start"
                >Quản Lý Nhân Viên</a
            >
            <a href="/quanlydotsangkien" class="btn btn-dark btn-sm text-start"
                >Quản Lý Đợt Sáng Kiến</a
            >

            <a href="/quanlysangkien" class="btn btn-dark btn-sm text-start"
                >Quản Lý Sáng Kiến
            </a>

            <a href="/create-sangkien" class="btn btn-dark btn-sm text-start"
                >Đăng Ký Sáng Kiến</a
            >
            <a href="/home/history" class="btn btn-dark btn-sm text-start"
                >Sáng Kiến Của Tôi</a
            >
            <a
                href="/quanlyduyetsangkien"
                class="btn btn-dark btn-sm text-start"
                >Duyệt Sáng Kiến
            </a>
            <a href="/get-cham-diem" class="btn btn-dark btn-sm text-start"
                >Chấm Điểm</a
            >

            <a href="/danhgia-sangkien" class="btn btn-dark btn-sm text-start"
                >Xếp Loại Sáng Kiến</a
            >
            <a href="/tatcaxeploai" class="btn btn-dark btn-sm text-start"
                >Tất Cả Xếp Loại Sáng Kiến</a
            >
            <a href="/get-khen-thuong" class="btn btn-dark btn-sm text-start"
                >Khen Thưởng Sáng Kiến</a
            >
            <a href="/get-all-khenthuong" class="btn btn-dark btn-sm text-start"
                >Tất Cả Khen Thưởng</a
            >
        </div>
    </div>
</div>
