<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/scss/styles.scss">
    <title>Quản lý chức vụ</title>
</head>

<body>
    <h1>Danh sách chức vụ</h1>
    <button onclick="myfunc()" id="themchucvu">Thêm Chức vụ</button>
    <div id="themmoichucvu" style="display: none;">
        <form action="/addchucvu" method="post">
            <!-- Vertical -->
            <div class="form-group">
                <label>Tên chức vụ</label>
                <input type="text" name="tenchucvu" maxlength="100" class="form-control" value="">
                <label>Mô tả chức vụ</label>
                <textarea name="motachucvu" class="form-control" id="" cols="30" rows="10"></textarea>
                <button type=" submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
    <script language="javascript">

        function myfunc() {
            if (document.getElementById("themmoichucvu").style.display == 'none') {
                document.getElementById("themmoichucvu").style.display = 'block';
                document.getElementById("themchucvu").innerHTML = "Ẩn"
            }
            else {
                document.getElementById("themmoichucvu").style.display = 'none';
                document.getElementById("themchucvu").innerHTML = "Thêm phòng ban"
            }
        }

    </script>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Chức vụ</th>
                    <th scope="col">Mô tả chức vụ</th>
                    <th scope="col">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                <!-- chuc vu -->
                <% for( let i=0 ; i < dataChucvu.length; i++){ %>
                    <tr>
                        <th scope="row">
                            <%= i +1 %>
                        </th>
                        <td>
                            <%= dataChucvu[i].tenchucvu %>
                        </td>
                        <td>
                            <%= dataChucvu[i].motachucvu %>
                        </td>
                        <td><a href="/quanlychucvu/sua/<%= dataChucvu[i].machucvu %>" target="_self">Sửa</a></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>



        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    </div>
</body>

</html>