* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.login-background {
    height: 100vh;
    background: linear-gradient(135deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(253, 187, 45, 1) 100%);
}

.login-container {
    width: 400px;
    height: 450px;
    margin: auto;
    border: 1px solid red;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.login-content {
    padding: 10px;
}

.text-login {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    padding-top: 10px;
}

.login-input {
    margin: 7px 0;
}

.custom-input-password {
    position: relative;
}

.btn-login {
    height: 35px;
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 15px;
    outline: none;
    background: linear-gradient(135deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(253, 187, 45, 1) 100%);
    color: white;
    font-size: 16px;
}

.navbar-custom {
    background-color: #425af5;
}

.navbar-custom a {
    color: white;
}

.edit-thanhvienhd-form {
    display: none;
}

.create-thanhvienhd-form {
    display: none;
}

.ntg-container {
    border: 1px solid black;
    margin-top: 10px;
    padding: 0 15px 15px 10px;
    height: 182px;
}

.sk-container {
    border: 1px solid black;
    margin-top: 10px;
    padding: 0 15px 15px 10px;
}

/****************** trang cham diem *********************/
.input-diem {
    color: black;
    cursor: pointer;
}

.input-diem.mucdich {
    background-color: rgb(113, 255, 113);
}

.input-diem.noidung {
    background-color: rgb(128, 136, 253);
}

.input-diem.ungdung {
    background-color: rgb(250, 255, 146);
}

.input-diem.trinhbay {
    background-color: rgb(250, 146, 181);
}

.main-container {
    margin: 0;
}

.notification-success {
    color: green;
}

.notification-fail {
    color: red;
}

/* trang quan ly tai khoan */
table th,
td {
    vertical-align: middle;
}

.mycolor-gray {
    background-color: #808080;
}

.alert {
    width: 40vw;
}